.fighting-area-section {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  align-items: center;
}

.fighting-area-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%
}

.fighting-area-section button {
  cursor: pointer;
  padding: 10px 30px;
  background: transparent;
  font-weight: bold;
  color: rgb(63, 81, 181);
  border: 3px solid rgb(63, 81, 181);
  border-radius: 5px;
  margin: 4rem;
}

.fighting-area-section button:hover {
  background-color: rgb(203, 216, 19);
}

.fighting-area-section button:active {
  box-shadow:
    7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}

.fighting-area-section button:disabled {
  color: rgba(63, 81, 181, 25);
  border: 3px solid rgba(63, 81, 181, 0.5);
  background-color: transparent;
}