.fighting-area-section {
  display: flex;
  flex-direction: column;
  /* margin: 4rem; */
  align-items: center;
}

.fighting-area-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 64px;
  border-radius: 10px;
}

.fighting-area-section button {
  cursor: pointer;
  padding: 10px 30px;
  background: transparent;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  margin: 4rem;
}

.fighting-area-section button:hover {
  background-color: #4aa34a;
}

.fighting-area-section button:active {
  box-shadow:
    7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}