.pokemon-list-frame--flex {
  width: 80%;
  margin: 20px 10%;
  /* height: 510px; */
  overflow-y: hidden;
  overflow-x: scroll;

}

.pokemon-container-flex {
  width: min-content;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 8rem;
}


/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 24px;
}

::-webkit-scrollbar-track {
  border: 1px solid transparent;
}

::-webkit-scrollbar-track:hover {
  border: 1px solid rgb(63, 81, 181);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(203, 216, 19);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(203, 216, 19);
  border: 1px solid rgb(63, 81, 181);
}

.pokemon-list-frame {
  width: 80%;
  margin: 20px 10%;
  height: 510px;
  overflow-y: hidden;
  overflow-x: scroll;
}


.pokemon-container {
  display: grid;
  grid-template-rows: 250px 250px;
  grid-auto-columns: 250px;
  column-gap: 10px;
  row-gap: 10px;
  width: min-content;
}

.pokemon-container > div:nth-child(2n + 1) { /* this will do the trick*/
  grid-row: 1;
}
.pokemon-container > div:nth-child(2n) { /* this will do the trick*/
  grid-row: 2;
}

