.detail-section {
  display: flex;
  flex-direction: column;
}

.detail-view-card {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 20rem;
  height: 32rem;
  box-shadow: 10px 5px 25px 5px rgba(0, 0, 0, 0.5);
}